{% extends "base.html" %}

{% block title %}Login de Administración{% endblock %}
{% block dc_title %}Login de Administración{% endblock %}
{% block dc_description %}Página de inicio de sesión para el panel de administración.{% endblock %}

{% block content %}
    <h2>Login de Administración</h2>
    <form method="POST" class="login-form">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Iniciar Sesión</button>
    </form>
{% endblock %}
